<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link rel="stylesheet" href="css/SidebarStyle.css">
</head>
<body>
    <div id="sidebar-container">
        <a href="index.html" class="home-icon">
            <img src="image/home_icon.png" alt="Home" class="home-image">&nbsp; HOME
        </a>
        
        <div class="menu-section">
            <div class="menu-section-title">PROJECTS</div>
            <div class="project-title">Cloud</div>
            <a href="CloudProject/project1.html" class="menu-item"><i class="menu-icon">📁</i>project1 name</a>
            <a href="CloudProject/project2.html" class="menu-item"><i class="menu-icon">📁</i>project2 name</a>
<!--             
            <div class="project-title">Web Development</div>
            <a href="../WebProject/project1.html" class="menu-item"><i class="menu-icon">📁</i>project1 name</a>
            <a href="../WebProject/project2.html" class="menu-item"><i class="menu-icon">📁</i>project2 name</a>
            <a href="../WebProject/project3.html" class="menu-item"><i class="menu-icon">📁</i>project3 name</a> -->
        </div>
    </div>
    <script src="script/sidebarScript.js"></script>
        <!--
        <div class="menu-section">
            <div class="menu-section-title">CERTIFICATIONS</div>
            <a href="#" class="menu-item">
                <i class="menu-icon">🏆</i>
                자격증
            </a>
            </div>
            
        </div>-->
</body>
</html>
